@import '@simpl/element-theme/src/styles/variables';

si-tree-view {
  overflow: hidden;
  box-shadow: unset;
}

.object-label-container {
  display: flex;
  flex-direction: column;
  // Allows `overflow` settings in child elements to have an effect.  Otherwise; no ellipsis on long text!
  min-width: 0;

  .object-label {
    flex: 1 0 auto;

    &.text-selected {
      font-weight: bold;
    }

    &.text-active {
      font-weight: bold;
      color: $element-text-active;
    }

    &.text-disabled {
      color: $element-text-disabled;
    }

    span {
      // All to apply ellipsis to text overflow
      display: block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
